{
    "database": {
        "enabled": false,
        "url": "",
        "database": "",
        "username": "",
        "password": ""
    },
    "api": {
        "key": ""
    },
    "server": {
        "port": "80"
    }
}